{% extends "MyInventoryApp/base.html" %}
{% block content %}

<div class="row mb-2">
    <div class="pb-2">
        <h2>Add Water Bottle</h2>
    </div>
    <hr>
</div>

<div class="row">

<div class="col-lg-12 border p-4">

    <form>

        <div class="mb-3">
            <label class="text-dark fs-6 mb-1">SKU</label>
            <input class="form-control">
        </div>

        <div class="mb-3">
            <label class="text-dark fs-6 mb-1">Brand</label>
            <input class="form-control">
        </div>

        <div class="mb-3">
            <label class="text-dark fs-6 mb-1">Size</label>
            <input type="number" class="form-control">
        </div>

        <div class="mb-3">
            <label class="text-dark fs-6 mb-1">Cost</label>
            <input type="number" class="form-control">
        </div>

        <div class="mb-3">
            <label class="text-dark fs-6 mb-1">Mouth Size</label>
            <select class="form-select">
                <option disabled selected>Select Mouth Size</option>
                <option>Wide Mouth</option>
                <option>Standard Mouth</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="text-dark fs-6 mb-1">Color</label>
            <input class="form-control">
        </div>

        <div class="mb-3">
            <label class="text-dark fs-6 mb-1">Supplier</label>
            <input class="form-control">
        </div>

        <div class="mb-3">
            <label class="text-dark fs-6 mb-1">Quantity</label>
            <input type="number" class="form-control">
        </div>

        <button class="btn btn-primary w-100">Add Water Bottle</button>

    </form>

</div>

</div>

{% endblock content %}
