{% extends "MyInventoryApp/base.html" %}

{% block content %}

<h2>Supplier List</h2>

<div class="mb-3">
    <a href="{% url 'add_bottle' %}" class="btn btn-primary me-2">Add Water Bottles</a>
    {% if account %}
        <a href="{% url 'manage_account' pk=account.id %}" class="btn btn-secondary me-2">Manage Account</a>
    {% endif %}
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
    {% for supplier in suppliers %}
        <tr>
            <td>
                <a href="{% url 'view_bottles' supplier.pk %}">
                    {{ supplier.name }}
                </a>
            </td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.country }}</td>
            <td>{{ supplier.created_at }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}